<form action="/Execrise/Add" method="get">
    <p>
    <label>Number 1:</label>
    <input type="number" name="n1" required/>
    </p>

    <p>
        <label>Number 2:</label>
    <input type="number" name="n2" required />
    </p>
    <p>
    <label>Result:</label>
    <label style="color:green">@ViewBag.result</label>
    </p>
    <p>
    <input type="submit" value="Calculate"/>
    <input type="reset" value="Cancel" />
    </p>
</form>