<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Form</title>
</head>
<style>
    body {
        background-color: aliceblue;
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    header {
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        color: rgb(53, 50, 50);
    }

    .sec1 {
        display: flex;
        justify-content: space-between;
        color: rgb(53, 50, 50);
    }

        .sec1 p {
            font-size: 8px;
        }

            .sec1 p span {
                font-weight: bold;
                font-size: 17px;
            }

    hr {
        height: 2px; /* Adjust the height to change the thickness */
        background-color: rgb(40, 38, 38); /* Adjust the color as desired */
        border: none; /* Remove the default border */
    }

    .sec2 h5, .sec3 h5, .sec4 h5 {
        text-decoration: underline;
        color: rgb(53, 50, 50);
    }

    .list {
        display: flex;
        font-size: 10px;
        color: rgb(53, 50, 50);
    }

        .list ul {
            flex: 1;
            list-style-type: none;
        }

    ul span, .prpty {
        font-weight: bold;
    }

    .sec4 ul {
        list-style-type: none;
        font-size: 10px;
        color: rgb(53, 50, 50);
    }

    .bold {
        font-weight: bold;
    }
</style>
<body>
    <header>
        <h1>CV Form</h1>
    </header>
    <div class="sec1">
        <p>
            No 41, 31 wards, Thakhin Ba Sein St, North Dagon, Yangon<br>
            Mobile : +959252566633<br>
            Email : phonethiha20@gmail.com<br><br>
            <span>Mg Phone Thiha</span>

        </p>
        <img src="img/353125138_954078015928570_4628729266168847598_n.jpg" alt="Profile" width="100" height="70">


    </div>

    <hr>
    <div class=" sec2">
        <h5>Personal Data</h5>
        <div class="list">
            <ul>
                <li>Date of Birth</li>
                <li>Place of Birth</li>
                <li>Civil Status</li>
                <li>Citizenship</li>
                <li>Region</li>
                <li>Height</li>
                <li>Weight</li>
                <li>Father's Name</li>
                <li>Mother's Name</li>
                <li>SSS No.</li>
                <li>TIN#</li>
            </ul>
            <ul>
                <li>June 20, 2003</li>
                <li>Yangon, Myanmar</li>
                <li>Student</li>
                <li>Burmese</li>
                <li>Buddhism</li>
                <li>5 feet 9 inches</li>
                <li>115 lbs</li>
                <li>U Hla Phone</li>
                <li>Daw Mu Mu Cho</li>
                <li>11-1111111-11</li>
                <li>43-34324344-13</li>
            </ul>
        </div>

    </div>
    <div class="sec3">
        <h5>Educational Background</h5>
        <div class="list">
            <ul>
                <li class="prpty">Primary</li>

            </ul>
            <ul>
                <li><span>Dota 2 Primary School</span></li>
                <li>North Dagon Yangon</li>
                <li>2003-2005</li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <li class="prpty">Secondary</li>

            </ul>
            <ul>
                <li><span>Dota 2 Primary School</span></li>
                <li>North Dagon Yangon</li>
                <li>2006-2012</li>
            </ul>
        </div>
        <div class="list">
            <ul>
                <li class="prpty">Tertiary</li>

            </ul>
            <ul>
                <span>Dota 2 Primary School</span></li>
                <li>North Dagon Yangon</li>
                <li>2013-2018</li>
            </ul>
        </div>

    </div>
    <div class="sec4">
        <h5>Employment History</h5>
        <ul>
            <li class="bold">AQM  Project (Singapore)</li>
            <li>ACE Data System, Building 2</li>
            <li>B2B</li>
            <li>June 20th 2023 - Agust 4th 2025</li>
        </ul>
    </div>



</body>
</html>