<style>
    a{
        border:none;
        background-color:azure;
    }
</style>
<body>
    <header>Welcome</header>
    <p>This is web page paragraph.</p> |
    <a href="/exercise/calculate">Calculate</a>|
    <a href="/exercise/registration">Register</a>|
    <a href="/exercise/ok">Download PDF</a>|
    <a href="/exercise/downloadtxt">Download txt</a>|
    <a href="/exercise/downloadpdf">Download pdf</a>|
    <a href="/exercise/login">Login</a>

</body>