
<div class="container">
    <h1>Employee Entry</h1>
    <hr />
    <div class="text-success">
        @if (ViewBag.Msg != null) {
            <b>@ViewBag.Msg</b>
        }
    </div>
    <form action="/employee/entry" method="post">
        <div class="mb-3">
            <label class="form-label">Code</label>
            <input class="form-control" type="text" name="Code" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" type="text" name="Name" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="text" name="Email" required />
        </div>
      
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="Gender">
                <option value="female">female</option>
                <option value="male">male</option>
                <option value="other">other</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Mobile Phone</label>
            <input class="form-control" type="text" name="MobilePhone" required />
        </div>
        <div class="mb-3">
            <label class="form-label">DOB</label>
            <input class="form-control" type="date" id="dtpDOB" name="DOB" required />
        </div>
        <div class="mb-3">
            <label class="form-label">JoinedDate</label>
            <input class="form-control" type="date" name="JoinedDate" required />
        </div>
      
        <div class="mb-3">
            <label class="form-label">NRC</label>
            <input class="form-control" type="text" name="NRC" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Position</label>
            <select class="form-control" name="PositionId">
                @foreach (var c in ViewBag.Positions) {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea name="Address" class="form-control"></textarea>
        </div>
        <input class="btn btn-success" type="submit" value="Entry">
    </form>
</div>
<script>
    $("#dtpDOB").on("change",function(){
        var now=new Date();//2023-07-30-12:43
        var dob=new Date($("#dtpDOB").val());//1998-01-02
        var age=now.getFullYear()-dob.getFullYear();
        if(age<18){
            alert("Your are not over 18 years")
        }
    });
</script>