@model PositionViewModel
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="panel panel-default">
    <h1>Position Edit</h1>
    <hr />
    <form action="/position/update" method="post">
        <input type="hidden" name="Id" value="@Model.Id" /> <!--hidden value to update the record -->
        <div class="mb-3">
            <label class="form-label">Code</label>
            <input class="form-control" type="text" name="Code" required value="@Model.Code"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" type="text" name="Name" required value="@Model.Name"/>
        </div>
        <input class="btn btn-success" type="submit" value="Update">
    </form>
</div>
